<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Listing</title>
</head>
<body>
    <h1>Active Members of SCE</h1>

    <h2>Filter by Project:</h2>
    <form method="get">
        {{ form.as_table }}
        <button type="submit">Filter</button>
    </form>

    <ul>
        {% for student in students %}
            <li>
                {{ student.last_name }} {{ student.first_name }}  - {{ student.email }}
                <ul>
                    {% for project in student.projects.all %}
                        <li>{{ project.title }}</li>
                    {% empty %}
                        <li>No projects for this student.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No active members found.</li>
        {% endfor %}
    </ul>
</body>
</html>
